<div class="container">
      <div class="navbar">
        <div class="menu">
          <h3 class="logo">Home<span>page</span></h3>
          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>
        </div>
      </div>

      <div class="main-container">
        <div class="main">
          <header>
            
          </header>
        </div>

        <div class="shadow one"></div>
        <div class="shadow two"></div>
      </div>

      <div class="links">
        <ul>
          <li>
            <a href [routerLink]="['/adminlogin']" style="--i: 0.05s;">Admin</a>
          </li>
          <li>
            <a href [routerLink]="['/caretakerlogin']" style="--i: 0.1s;">Caretaker</a>
          </li>
          <li>
            <a href [routerLink]="['/vetlogin']" style="--i: 0.15s;">Veterinarian</a>
          </li>
          <li>
            <a href [routerLink]="['/sellerlogin']" style="--i: 0.2s;">Seller</a>
          </li>
          <li>
            <a href [routerLink]="['/petlodge']" style="--i: 0.25s;">Customer Homepage</a>
          </li>
        </ul>
      </div>
    </div>