<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <div class="my-0 mr-md-auto">
      <!-- <app-header></app-header> -->
      <img src="\assets\image\logo.svg" width="250" height="72" class="d-inline-block align-top" alt="">
    </div>
  
    
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" [routerLink]="['']">To Home</a>
      <a class="p-2 text-dark" [routerLink]="['/shop']">To Shop</a>

      
    </nav>
    <a class="btn btn-primary" [routerLink]="['/sellerregistration']">Sign up for Seller</a>
    <a class="btn btn-outline-secondary" [routerLink]="['/sellerlogin']">Login for Seller</a>
  </div>
  