<div class="bg">
    <div class="formcontainer">

        <span style="text-align: center">
            <h2>Seller Registration</h2>
        </span>

        <form #registerForm="ngForm" (ngSubmit)="registerSeller()">

            <small class="text-danger">{{mgs}}</small>
            <div class="form-group">

                <label class="control-label col-sm-2" for="UId">Name:</label>
                <div class="col-sm-10">
                    <input type="text" id="inp" class="form-control" name="sellerName" placeholder="Enter the name"
                        autocomplete="sellername" [(ngModel)]="seller.sellerName" required #sellername="ngModel"
                        [class.is-invalid]="sellername.invalid && sellername.touched" name="sellername">
                    <small [class.d-none]="sellername.valid || sellername.untouched" class="text-danger">Name is
                        required </small>
                </div>
            </div>

            <div class="form-group">

                <label class="control-label col-sm-2" for="UId">Id:</label>
                <div class="col-sm-10">
                    <input type="text" id="inp" class="form-control" name="sellerName" placeholder="Enter the id"
                        autocomplete="sellername" [(ngModel)]="seller.sellerId" required #sellerid="ngModel"
                        [class.is-invalid]="sellerid.invalid && sellerid.touched" name="sellerid">
                    <small [class.d-none]="sellerid.valid || sellerid.untouched" class="text-danger">sellerid is
                        required </small>
                </div>
            </div>

   
                <label class="control-label col-sm-6" for="UId">Contact Number:</label>
                <div class="col-sm-10">
                    <input type="text" id="inp" class="form-control" name="sellercontactno"
                        placeholder="Enter the Contact Number" 
                        [(ngModel)]="seller.sellerContactNo" required  pattern="^[0-9]{10}$" #sellercontactno="ngModel"
                        [class.is-invalid]="sellercontactno.invalid && sellercontactno.touched" name="sellercontactno">
                        <div *ngIf="sellercontactno.errors && (sellercontactno.invalid && sellercontactno.touched)">
                            <small class="text-danger" *ngIf="sellercontactno.errors.required">Contact is required </small>
                            <small class="text-danger" *ngIf="sellercontactno.errors.pattern">Contact is invalid </small>
    
                        </div>
                </div>
        

            <div class="form-group">

                <label class="control-label col-sm-2" for="UId">Address:</label>
                <div class="col-sm-10">
                    <input type="text" id="inp" class="form-control" name="selleraddress"
                        placeholder="Enter the Address" autocomplete="selleraddress" [(ngModel)]="seller.sellerAddress"
                        required #selleraddress="ngModel"
                        [class.is-invalid]="selleraddress.invalid && selleraddress.touched" name="selleraddress">
                    <small [class.d-none]="selleraddress.valid || selleraddress.untouched" class="text-danger">Address
                        is required </small>
                </div>
            </div>



            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inp" name="email" placeholder="Enter the email"
                        [(ngModel)]="seller.sellerEmail" required
                        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" #email="ngModel"
                        [class.is-invalid]="email.invalid && email.touched" name="email">
                    <div *ngIf="email.errors && (email.invalid && email.touched)">
                        <small class="text-danger" *ngIf="email.errors.required">Email is required </small>
                        <small class="text-danger" *ngIf="email.errors.pattern">Email is invalid </small>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-10">
                    <input type="password" name="Password" class="form-control" id="inp"
                        placeholder="Enter the Password" autocomplete="current-password"
                        [(ngModel)]="seller.sellerPassword" #sellerPassword="ngModel" required #sellerpassword="ngModel"
                        [class.is-invalid]="sellerpassword.invalid && sellerpassword.touched">
                    <small [class.d-none]="sellerpassword.valid || sellerpassword.untouched"
                        class="text-danger">Password
                        is
                        required </small>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-6" for="cpwd">Confirm Password:</label>
                <div class="col-sm-10">
                    <input type="password" name="cpassword" class="form-control" id="inp"
                        placeholder="Enter the confirmed Password" autocomplete="current-password" #cpassword="ngModel"
                        (ngModel)="seller.sellerPassword" required
                        [class.is-invalid]="cpassword.invalid && cpassword.touched">
                    <small [class.d-none]="(cpassword.value==sellerPassword.value)  || cpassword.untouched"
                        class="text-danger">confirmed password is not match..!</small>
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button [disabled]="registerForm.form.invalid" type="submit" class="btn btn-info" >Register</button>
                </div>
            </div> 


        </form>


        <button id="btnid" class="float-right">
            <small id="inp" class="float-right" [routerLink]="['/login']">Existing Selller ? Login here</small>
        </button>


    </div>

</div>
