
<section>
    <div class="container-fluid">
      <div class="container">
        <div class="row">

          <div class="col-sm-4">
            <div class="card card_violet text-center">
              <div class="title">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <h4>Your Appointment is ready</h4>
              </div>
              <div class="price">
                <h3>Appointment Number is</h3>
                <h2>{{appointmentid}}</h2>
              </div>
              <a (click) ="goback()">back to home</a>
            </div>
        </div>
          
        </div>
      </div>
    </div>
  </section>